.icon {
	text-align: center;
	margin: 1rem auto;
	color: rgb(197, 149, 87);
	font-size: 5rem;
}
.form {
	width: 95%;
	max-width: 25rem;
	margin: 2rem auto;
}

.control {
	margin-bottom: 0.5rem;
}

.control label {
	font-weight: bold;
	margin-bottom: 0.5rem;
	color: #333634;
	display: block;
}

.control input {
	display: block;
	font: inherit;
	width: 100%;
	border-radius: 4px;
	border: 0.35px solid #9a7baf;
	padding: 0.25rem;
	background-color: rgb(244, 240, 240);
}

.action {
	margin-top: 1.5rem;
}

.action button {
	font: inherit;
	cursor: pointer;
	padding: 0.5rem 1.5rem;
	border-radius: 4px;
	background: linear-gradient(
		to left top,
		rgb(167, 198, 100),
		rgb(76, 150, 203)
	);
	color: white;
	border: 0.35px solid #7f549b;
}

.action button:hover {
	background-color: #540d83;
	border-color: #540d83;
}

label {
	margin-top: 0.5rem;
}
