.App {
    text-align: center;
    color: rgb(197, 149, 87);
  }
  
  body{
    background: wheat;
    }
    
  .todoContainer{
    margin: 1rem auto;
    color: white;
    font-weight: bold;
	  width: 95%;
	  max-width: 40rem;
	  border-radius: 6px;
	  background: linear-gradient(
		to left top,
		rgb(198, 155, 100),
		rgb(203, 76, 76)
	);
	  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  	padding: 1rem;
	  text-align: center;
}
.icon {
	text-align: center;
	margin: 1rem auto;
	color: rgb(197, 149, 87);
	font-size: 5rem;
}
        
    .task{
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    }
    
    .task button{
    background: rgb(12, 124, 251);
    border-radius: 5px;
 /*   margin: 0px 5px;
    padding: 3px 5px; */
    border: none;
    cursor: pointer;
    color: white;
    float: right;
    }
    
    .header{
    margin: 0.5em;
    font-size: 1em;
    text-align: center;
    }
  
    .bigHeader{
    margin: 0.5em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    }
    .addButton {
      color: white;
      font-weight: bold;
      border: 1px, rgb(167, 198, 100);
      background: linear-gradient(
        to left top,
        rgb(167, 198, 100),
        rgb(76, 150, 203)
      );
    }
    
    .create-task input[type=text]{
    margin: 2.5em 2em;
    width: 80%;
    outline: none;
    border: none;
    padding: 0.7em;
    }