.welcoming {
	margin: 3rem auto;
	text-align: center;
}

.welcoming h1 {
	font-size: 5rem;
	color: rgb(203, 171, 82);
}

.icon {
	text-align: center;
	margin: 3rem auto;
	color: rgb(197, 149, 87);
	font-size: 10rem;
}

