@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", "Lato", sans-serif;
	margin: 0;
}
