* {
    box-sizing: border-box;
}
body{
    background: wheat;
}
.icon {
	text-align: center;
	margin: 1rem auto;
	color: rgb(197, 149, 87);
	font-size: 5rem;
}
h1 {
    text-align: center;
    font-size: 5rem;
    color: rgb(77, 218, 91);
}
h3, h4, h5{
    text-align:center;
    color: rgb(77, 218, 91);
}
.img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
table{
    border-collapse: collapse;
    width: 100%;
}
tr{
    border-bottom: 1px solid #ddd;
}
.card {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 20rem;
}
